.beheer-inputs{
    width: 50% !important;
}
.tabs-fixed-width{
    overflow: hidden !important;
}
#fixed-fab{
    position: absolute; 
    display: inline-block; 
    right: 24px;
}
.simpleColorChooser{
    z-index: 2;
}