.beheer-inputs{
    
}
.tabs-fixed-width{
    overflow: hidden !important;
}
#fixed-fab{
    position: absolute; 
    display: inline-block; 
    right: 24px;
}
.simpleColorChooser{
    z-index: 2;
}
#saveAllRows{
    margin-left: 20px;
}
#saveAllRows{
    margin: 0px !important
}
.nomargin-bot{
    margin-bottom:0px !important;
}
#addnewKlasRows{
    margin-left: 10px;
}