.noPadLeft{
    padding-left: 0px !important;
}
.acRow{
    padding-left:0px !important;
}
.remPad{
    padding-left:.93rem !important;
}
.invalid{
    color:red;    
}
.center-with-bg {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/bg.jpg);
    background-size: cover;
}